<%- include('./partials/html-head') %>
    <%- include('./partials/nav') %>
    <h1>Recipes 'R' Us!</h1>
    <p>Your home for recipes!</p>
    <img src="https://static8.depositphotos.com/1186033/859/i/450/depositphotos_8596614-stock-photo-recipe-book.jpg" alt="Image of a Recipe Book">
    
    
</body>
<footer>
    <p>5589 Gumdrop Lane, Candyland, Sweeten R0835</p>
    <p>Phone: 291-555-8725</p>
</footer>
</html>