<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <a class="nav" href="/">Home</a>
    <h1>Our Selection of Decadent Desserts</h1>
    <ul>
        <% inventory.forEach((item, index) => { %>
            <a href="/<%= index %>">
                <li><%= item.name %>: <%= item.price %></li>
            </a>
            
        <% }) %>
    </ul>
</body>
</html>